# Creating a simple ETL data pipeline using Python script from source (MYSQL) to sink (MongoDB)

In [1]:
# Install required packages
! pip install -r requirements.txt

Requirement already satisfied: mysql-connector-python==8.1.0 in c:\users\acer\anaconda3\lib\site-packages (from -r requirements.txt (line 1)) (8.1.0)
Requirement already satisfied: pandas==1.5.3 in c:\users\acer\anaconda3\lib\site-packages (from -r requirements.txt (line 2)) (1.5.3)
Requirement already satisfied: pymongo==4.5.0 in c:\users\acer\anaconda3\lib\site-packages (from -r requirements.txt (line 3)) (4.5.0)
Requirement already satisfied: python-dotenv==1.0.0 in c:\users\acer\anaconda3\lib\site-packages (from -r requirements.txt (line 4)) (1.0.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\acer\anaconda3\lib\site-packages (from mysql-connector-python==8.1.0->-r requirements.txt (line 1)) (4.21.12)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas==1.5.3->-r requirements.txt (line 2)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas==1.5.3->-r requirements.txt (line 2)) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\acer\anaconda3\lib\site-packages (from pandas==1.5.3->-r requirements.txt (line 2)) (1.24.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\acer\anaconda3\lib\site-packages (from pymongo==4.5.0->-r requirements.txt (line 3)) (2.4.2)
Requirement already satisfied: six>=1.5 in c:\users\acer\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas==1.5.3->-r requirements.txt (line 2)) (1.16.0)

In [2]:
# Import relevant libraries
from datetime import datetime
import pymongo
from pymongo import MongoClient
import mysql.connector as msql
import pandas as pd

## Extracting the data from data source MYSQL.

In [3]:
# Extracting data from mysql database
try:
    connection = msql.connect(host='localhost', database='diamond_data', user='root', password='******') 

    # creating a connection to mysql database
    if connection.is_connected():
        db_Info = connection.get_server_info() 
        print("Connected to MySQL Server version ", db_Info) # getting the server info
        cursor = connection.cursor() 
        cursor.execute("select database();") # selecting the database diamond
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        mycursor = connection.cursor()

    # executing the query to fetch all record from diamond record
        mycursor.execute("SELECT * FROM diamonds") 
        table_rows = mycursor.fetchall()
        
except Exception as error:
    print("Error while connecting to MySQL", error)
    
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print('mysql connection is closed')

Connected to MySQL Server version  8.0.34
You're connected to database:  ('diamond_data',)
mysql connection is closed

## Transform the data using Python Pandas

In [4]:
# Creating dataframe
df = pd.DataFrame(table_rows, columns=["carat", "cut", "color","clarity","depth", "table", "price", "x", "y", "z"])

# create new column to keep track of inserted data
df['inserted_at'] = datetime.now()
 
# View first 10 rows
df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,inserted_at
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,2023-10-29 17:28:31.189212
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,2023-10-29 17:28:31.189212
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,2023-10-29 17:28:31.189212
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,2023-10-29 17:28:31.189212
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,2023-10-29 17:28:31.189212

In [5]:
# Check to see that the data is complete (50000 rows)
df.shape

(50000, 11)

## Load the data to sink MongoDB

In [6]:
# Making connection to Mongocloud
cluster = pymongo.MongoClient("mongodb://Stanislaus:*********@ac-kddib4z-shard-00-00.wfg4du8.mongodb.net:27017,ac-kddib4z-shard-00-01.wfg4du8.mongodb.net:27017,ac-kddib4z-shard-00-02.wfg4du8.mongodb.net:27017/?ssl=true&replicaSet=atlas-dr51du-shard-0&authSource=admin&retryWrites=true&w=majority")

# creating collection testdb 
db = cluster["diamond_db"]
collection = db["diamonds"]
 
# Inserting values to table test 
x = collection.insert_many(df.to_dict('records')) #my result comes from mysql cursor
print(len(x.inserted_ids))

50000

--------------------------------------------------------------------------------------------------------------------------------